@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: Lexend, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --radius: 0.25rem;
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --disabled: #e1e1e1;

  --background: #ffffff;
  --foreground: #18181b;
  --card: #f7f7f7;
  --card-foreground: #18181b;
  --popover: #f7f7f7;
  --popover-foreground: #18181b;
  --primary: #0084d1;
  --primary-foreground: #ffffff;
  --secondary: #f7f7f7;
  --secondary-foreground: #808080;
  --muted: #ececec;
  --muted-foreground: #808080;
  --accent: #f7f7f7;
  --accent-foreground: #0084d1;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #ececec;
  --input: #f7f7f7;
  --ring: transparent;
  --chart-1: #66b9ea;
  --chart-2: #339fdd;
  --chart-3: #0084d1;
  --chart-4: #006aa6;
  --chart-5: #00527f;
  --sidebar: #f7f7f7;
  --sidebar-foreground: #808080;
  --sidebar-primary: #0084d1;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #ececec;
  --sidebar-ring: #0084d1;

  --shadow-2xs: 0 0px 0px 0px hsl(0 0% 88.2353% / 0);
  --shadow-xs: 0 0px 0px 0px hsl(0 0% 88.2353% / 0);
  --shadow-sm:
    0 0px 0px 0px hsl(0 0% 88.2353% / 0), 0 1px 2px -1px hsl(0 0% 88.2353% / 0);
  --shadow:
    0 0px 0px 0px hsl(0 0% 88.2353% / 0), 0 1px 2px -1px hsl(0 0% 88.2353% / 0);
  --shadow-md:
    0 0px 0px 0px hsl(0 0% 88.2353% / 0), 0 2px 4px -1px hsl(0 0% 88.2353% / 0);
  --shadow-lg:
    0 0px 0px 0px hsl(0 0% 88.2353% / 0), 0 4px 6px -1px hsl(0 0% 88.2353% / 0);
  --shadow-xl:
    0 0px 0px 0px hsl(0 0% 88.2353% / 0), 0 8px 10px -1px hsl(0 0% 88.2353% / 0);
  --shadow-2xl: 0 0px 0px 0px hsl(0 0% 88.2353% / 0);
}

.dark {
  --disabled: #3e3e3e;

  --background: #202020;
  --foreground: #ffffff;
  --card: #2c2c2c;
  --card-foreground: #ffffff;
  --popover: #2c2c2c;
  --popover-foreground: #c6c6c6;
  --primary: #00a6f4;
  --primary-foreground: #ffffff;
  --secondary: #2c2c2c;
  --secondary-foreground: #c6c6c6;
  --muted: #1d1d1d;
  --muted-foreground: #585858;
  --accent: #1b3440;
  --accent-foreground: #00a6f4;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #373737;
  --input: #181818;
  --ring: #181818;
  --chart-1: #5bc6f8;
  --chart-2: #25b5f6;
  --chart-3: #00a6f4;
  --chart-4: #0085c2;
  --chart-5: #006a9c;
  --sidebar: #181818;
  --sidebar-foreground: #c6c6c6;
  --sidebar-primary: #00a6f4;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #1b3440;
  --sidebar-accent-foreground: #00a6f4;
  --sidebar-border: #373737;
  --sidebar-ring: #00a6f4;

  --shadow-2xs: 0 0px 0px 0px hsl(0 0% 9.4118% / 0);
  --shadow-xs: 0 0px 0px 0px hsl(0 0% 9.4118% / 0);
  --shadow-sm:
    0 0px 0px 0px hsl(0 0% 9.4118% / 0), 0 1px 2px -1px hsl(0 0% 9.4118% / 0);
  --shadow:
    0 0px 0px 0px hsl(0 0% 9.4118% / 0), 0 1px 2px -1px hsl(0 0% 9.4118% / 0);
  --shadow-md:
    0 0px 0px 0px hsl(0 0% 9.4118% / 0), 0 2px 4px -1px hsl(0 0% 9.4118% / 0);
  --shadow-lg:
    0 0px 0px 0px hsl(0 0% 9.4118% / 0), 0 4px 6px -1px hsl(0 0% 9.4118% / 0);
  --shadow-xl:
    0 0px 0px 0px hsl(0 0% 9.4118% / 0), 0 8px 10px -1px hsl(0 0% 9.4118% / 0);
  --shadow-2xl: 0 0px 0px 0px hsl(0 0% 9.4118% / 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --breakpoint-2xs: 20rem;
  --breakpoint-xs: 25rem;

  --color-disabled: var(--disabled);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer utilities {
  .scrollbar {
    --scroll-thumb: color-mix(
      in srgb,
      var(--color-foreground) 25%,
      transparent
    );
    --scroll-thumb-hover: color-mix(
      in srgb,
      var(--color-foreground) 35%,
      transparent
    );
    --scroll-thumb-active: color-mix(
      in srgb,
      var(--color-foreground) 65%,
      transparent
    );

    @apply [&::-webkit-scrollbar]:w-0.5 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:rounded-full;

    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--scroll-thumb-hover);
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: var(--scroll-thumb-active);
    }
  }
}
