@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JapaneseRadicals";
  src: url("./fonts/radicals/JapaneseRadicals-Regular.woff2") format("woff2");
}

body {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
